body{
    background-color: #130F40;
    color:white
}


a,
nav a,
nav,
nav li{
    display:inline;
    color: white;
    text-decoration: none;
    padding: 5px;
}

header{
    background-color: black;
    display: flex;
}

.current{
    font-weight: bold;
}

footer{
    text-align: center;
}


/*home*/

.welcome{
    background-image: url(../images/GameHub_Logo_small.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    height:400pt;
    position: relative;

}

.profile-pic{
    border-radius: 50%;
    flex-direction: column;
}

.user-reviews{
    margin: 2%;
   padding-left: 15%;
}

.reviews{
    display: flex;
    background-color: #30336B;
    
}

.review-name{
   display: block;
}

.featured-prod{
    display: inline-block;
    padding: 1%;
}

.featured-text{
    text-align: center;
}

.register-btn{
    background-color: #686DE0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
    transition-duration: 0,6s;

}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.register-btn:hover{
    background-color:  white;
    color: black;
}

.featured-search{
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
    
}

.featured-search input[type=text]{
    font-size: 18px;
    border: none;
}

/*Styling for smaller screens*/
@media only screen and (max-width: 400px) {
    .reviews {
      display: flex;
      flex-direction: column;
    }
  }

  /*other page tbd */